/* space */

body { 
  margin: 0; 
  position:relative;
  }

header, main , footer {
  padding: 3% 5% 2% 5%;
  text-align: center;  
  }

nav {
  padding-top: 2em;
  height: 3em; 
  text-align: center;
}

nav ul li {
 height:40%;
 width: auto;
 list-style-type: none;
 display: inline-block;
 margin-right: 0.8em;
 padding: 0 0.5%;

 border-style: none; 
 }

#intestazione {
  margin:none; 
  padding-bottom:0.5%; 
  padding-left: 0%; 
  padding-right: 0%; 
  background-size: auto; 
  height: auto;
  max-width: 100%; 
  text-align: center; 
  }

#introduzione {text-align: center; margin-top: 3%;}

#struttura , #leggianche , #layout , #banchmarketing , #comunication , .paragrafi  {text-align: left; margin-left: 2%; }   

.main_section { border: none;
  padding: 5% 0px; 
  display: inline-block;
  text-align: center;
  }  

.block_3 {
    width: 30%;
    height: 40%;
    max-width: 30%; min-width: 30%;
    display: inline-block; 
  }

.block_4 { 
  margin:0.5%;
  display: inline-block;
  padding: 0 1em;
  width: 20%;
  height: 20%;
  }

.content {
  margin:3em;
  }

.polaroid {
  width: 20%; 
  height: 30%; 
  max-height: 30%; 
  max-width: 25%; 
  display: inline-table; 
  margin: 3%; 
  }  



/* colors and font sfondo:#fff5b3 menù:#339933*/

body {
  color: #00264d;
  background-color: #F8F8F8;
  font-family: 'Comfortaa', cursive;
  font-size: 1.1em;
  line-height: 1.5em; text-align: center;
  }

nav ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 1.5em;
  background-color:#fdc41c ;
  }
h1 , h2  { 
  font-family: 'Paprika', cursive;
  color:#00264d; 
  }

h3 {font-family: 'Paprika', cursive;
  color:#fdc41c;
 }

b {
  color: #339933;
  }

i {
  color:#fdc41c;
  }


button {
  background-color:#fdc41c;
  color: white;
  padding: 1em 2em;
  border: none;
  font-size: 1.1em;
  letter-spacing: 0.02em;
}
 

.block_4 {
  font-size: 1rem;
  }
 
/*link*/
a:link , a:visited {
  text-decoration: none; 
  color:#fff5b3; 
  }
a:hover , a:active {
  text-decoration: none; 
  color: white;
 }